.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header header header"
    "contenido contenido lateral";
  }
#container-header {
    background-color: red;
    grid-area: header;
    height: 100px;
}

#container-lateral{
    background-color: green;
    grid-area: lateral;

}

#container-contenido{
    background-color:blue;
    grid-area:contenido;
}


